Source: pov-admin-tools
Section: admin
Priority: optional
Maintainer: Marius Gedminas <marius@gedmin.as>
Build-Depends: debhelper (>= 9.0.0), python-docutils
Standards-Version: 3.9.6
Homepage: https://github.com/ProgrammersOfVilnius/pov-admin-tools

Package: pov-admin-tools
Architecture: all
Depends: python (>= 2.7), vim, lsb-release, sudo, ${misc:Depends}
Recommends:
 git, etckeeper, tig,
 postfix | mail-transport-agent,
 bsd-mailx | mailx,
 apt-checkupdates, unattended-upgrades, update-notifier-common, debsums,
 debian-goodies, apt-show-versions,
 collectd-core,
 smartmontools, mcelog, atop, dstat,
 ntp,
 screen, tree, bash-completion, command-not-found, htop, pydf, psmisc,
 pov-check-health,
 pov-server-page,
 pov-simple-backup
Suggests:
 collectd
Breaks: pov-server-page (<< 1.1)
Description: set of tools we use at PoV for managing servers
 * This is an unofficial package.
 .
 This package contains a set of scripts that I found useful for managing
 servers at PoV (https://pov.lt):
 .
   - new-changelog-entry: keeps a sysadmin diary (/root/Changelog)
   - check-changelog: checks /root/Changelog for consistency
 .
 It also pulls in (via Recommends) a set of other packages I find indispensable.
