Source: pov-admin-tools
Section: admin
Priority: extra
Maintainer: Marius Gedminas <marius@gedmin.as>
Build-Depends: debhelper (>= 8.0.0), python-nose, python-docutils
Standards-Version: 3.9.4
Homepage: https://github.com/ProgrammersOfVilnius/pov-admin-tools

Package: pov-admin-tools
Architecture: all
Depends: python (>= 2.6), vim, lsb-release, sudo, ${python:Depends}, ${misc:Depends}
Recommends:
 git-core, etckeeper, tig,
 postfix | mail-transport-agent,
 bsd-mailx | mailx,
 apt-checkupdates, unattended-upgrades, update-notifier-common, debsums,
 collectd, smartmontools, mcelog, atop,
 ntp,
 screen, tree, bash-completion, htop,
 pov-check-health,
 pov-server-page,
 pov-simple-backup
Description: set of tools we use at PoV for managing servers
 * This is an unofficial package.
 .
 This package contains a set of scripts that I found useful for managing
 servers at PoV (http://pov.lt):
 .
   - new-changelog-entry: keeps a sysadmin diary (/root/Changelog)
   - machine-summary: prints a short description of this machine (as
     ReStructuredText)
   - disk-inventory: prints an overview of your disks and partitions
   - du-diff: compares two disk usage snapshots produced by du
   - check-changelog: checks /root/Changelog for consistency
